{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Мой блог{% endblock %}

{% block content %}
    <h1>Мой блог</h1>
    {% if tag %}
        <h2>Посты с тегом "{{tag.name}}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>

        {% include "blog/post/includes/display_tags.html" %}

        <p class="date">
            Опубликован {{ post.publish }}. Автор: {{ post.author }}
        </p>
        {{ post.body|markdown|truncatewords_html:30 }}
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}
